.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
*{
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;

}
/* shared style */
.text-1{
    color: rgba(14, 14, 14, 0.5);
}
.text-2{
    color: #0E0E0E;
    
}
.btn-text{
        color: white;
}
.text-3{
    color: rgba(14, 14, 14, 0.7);
}
body{
    max-width: 1280px;
}
/* header */
.banner{
    max-width: 1280px;
    height: 580px;
    margin: 80px auto;
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 0 60px 0 60px;
    
}
.banner-content{
    max-width: 622px;
}
.banner-name{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}
.banner-motto{
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 24px;
}
.banner-button{
    background-color: #006A50;
    font-size: 18px;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
}
/* vision */
.vision-title{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 24px;
}
.vision-text{
    font-weight: 500;
    margin-bottom: 32px;
}
.boxes{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.box1{
   background-color: rgba(84, 144, 245, 0.2);
}
.box2{
    background-color: #C6E4D6;
}
.box3{
    background-color: #F7EBCF;
}
.box1, .box2, .box3{
    width: 410px;
    padding: 33px 32px;
    border-radius: 16px;
}
.box-heading{
font-weight: bold;
font-size: 20px;
}
.box-text, .lm1, .lm2, .lm3, .box-heading{
margin-top: 24px;
}
.lm1{
 background-color: #5490F5;
 padding: 11px 20px;
}
.lm2{
background-color: #09A15C;
padding: 11px 20px;
}
.lm3{
background-color: #FFC239;
padding: 11px 20px;
}
.lm1, .lm2, .lm3{
    border-radius: 8px;
    border: none;
}
/* news */
.news{
    margin-top: 80px;
}
.news-title{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 24px;
}
.news-text{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 32px;
}
.pic-sata{
    border-radius: 24px;
}
.news-block{
    display: flex;
    padding: 48px 48px;
    gap: 32px;
    align-items: center;
    margin-bottom: 24px;
}
.news-head{
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 12px;
   color:  rgba(14, 14, 14, 0.8);
}
.img-al, .date{
    margin-bottom: 12px;
}
.news-para{
    margin-bottom: 32px;

}
